.whitesmoke{
    background-color: #fefefe;
}

.logo-center {
    height: 25%;
    width: 25%;
    margin: auto;
}

@media (max-width: 992px) {
    .logo-center {
        height: 50%;
        width: 50%;
    }
}

