:root {
    --main-bg-gray: #f4f5fa;
    --main-bg-white: white;
    --main-white-color: white;
    --main-black-color: #516173;
    --main-bg-gray-1: #d7d7d7;
    --main-bg-gray-2: #515154;
    --main-bg-gray-3: #a0a0a0;
    --main-blue-color: #1f9bde;
    --main-blue-color-2: #d0e2ff;
    --main-smoke-color: #fefefe;
}

a {
    text-decoration: none;
}

.whitesmoke {
    background-color: #fefefe;
}

.event-introduction h1 {
    text-align: initial;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.logo-center {
    height: 25%;
    width: 25%;
    margin: auto;
}

.events-area {
    background: rgb(55, 51, 129);
    background: linear-gradient(90deg, rgba(55, 51, 129, 1) 0%, rgba(79, 51, 170, 1) 24%, rgba(121, 31, 222, 1) 66%, rgba(31, 155, 222, 1) 100%);
}

.text-bold {
    font-weight: bold !important;
}


.arrow-icon {
    width: 40px;
    height: 50px;
}

.intro-p {
    width: 100% !important;
    text-align: start;
}

.contribution-section {
    height: max-content;
}

.contribution-section img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.text-blue {
    color: var(--main-blue-color);
}

.footer .footer-icon {
    width: 40px;
    height: 40px;
}

.footer {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    height: max-content;
    background: rgb(133, 51, 170);
    background: linear-gradient(90deg, rgba(133, 51, 170, 1) 29%, rgba(88, 106, 193, 1) 58%, rgba(71, 126, 201, 1) 75%, rgba(31, 175, 222, 1) 97%);
    border-radius: 52% 48% 48% 52% / 100% 100% 0% 0%;
    box-shadow: -10vmin 10vmin 0 rgb(255 255 255 / 7%);
}

.footer .text {
    width: 700px;
    margin: auto;
}

.white-hr {
    width: 60%;
    margin: auto;
    border: 2px solid var(--main-smoke-color);
}

.service-area .food-image {
    max-height: 58%;
    max-width: 96%;
}

@media (max-width: 992px) {
    .logo-center {
        height: 50%;
        width: 50%;
    }

    .bg-header {
        margin: 30px 0;
        z-index: 0;
    }

    .footer {
        border-radius: initial;
    }

    .footer .text {
        width: auto;
        margin: auto;
    }

    .service-area .food-image {
        max-height: 100%;
        max-width: 100%;
    }

    .contribution-section img {
        height: 400px;
        width: 400px;
        border-radius: 50%;
    }
}

